/* Style the tab */
.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 18;
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
   background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
}

.border {
  border-width: 5px;   border-color: black;   border-style: solid;
}

body {
  background-image:
  url("images/wallpaper.jpg"),
  url("images/fox.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:
  175px 175px,
    200px 175px;
  background-position:
  3% 85%,
    96% 27%;
}

a {
  font-size: 30px;
  color: rgb(255, 0, 50);
}



p {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-style: oblique;
  font-weight: 600;
  font-family: serif;
  font: Helvetica
}

body {
  font-family: Arial;
}
